    {% extends 'layout.html' %}
    {% block content %}
        <div class="accordion vertical">
            <ul>
                {% for task in tasks %}
                    <li class="card {% if task.completed == 1 %} task-completed {% endif %}">
                        <input 
                            class="box" 
                            type="{% if task.completed == 1 %} hidden {% else %} checkbox {% endif %}" id="checkbox-{{ task.id }}" 
                            name="checkbox-accordion"
                        />
                        <label class="list-label" for="checkbox-{{ task.id }}">
                            <input type="checkbox"  {% if task.completed == 1 %} CHECKED {% endif %} />
                            {{ task.title }}
                            <i class="fa fa-angle-down"></i>
                            <!-- <i class="fa fa-angle-up"></i> -->
                        </label>
                        <div class="content">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Notes</label>
                                        <textarea name="content" class="form-control" rows="5">{{ request.form['content'] or task.content }}</textarea>
                                    </div>
                                    <div class="form-row col-md-6">
                                        <div class="form-group col-md-12">
                                            <label for="inputState">Priority</label>
                                            <select name="priority" id="inputState" class="form-control">
                                                <option {% if task.priority == 'HIGH' %} SELECTED {% endif %} value="HIGH">
                                                    High
                                                </option>
                                                <option {% if task.priority == 'LOW' %} SELECTED {% endif %} value="LOW">
                                                    Low
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button type="submit" class="btn btn-danger" style="float:right">Delete</button> -->
                            </form>
                            <form action="{{ url_for('auth.deleteTask', id=task.id) }}" method="POST">
                                <input type="hidden" name="grpName" value="{{ request.path.split('/')[-1] }}" />
                                <input type="submit" value="Delete"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure you want to delete this task?')">
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock content%}